<html>
  <head>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <header>
      <h1>Registration</h1>
    </header>
    <main>
      <form action="/users" method="post">
        <label for="username">username</label>
        <input id="username" type="text" name="username" />
        <label for="password">password</label>
        <input id="password" type="password" name="password" />
        <div
          class="g-recaptcha"
          data-sitekey="6LdHiicqAAAAADIHyxmr3gEx_fRrvESy8o5a3h2E"
        ></div>
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
